@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@200;300;400;500&display=swap');


$color-primaire:#9356DC; 
$color-sec: #FF79DA;
$color-third: #99E2D0;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}


.header {
    width: 100%;
    height: 60px;
    margin: 0;
    margin-top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &--title {
        font-family: 'Shrikhand', sans-serif;
        align-items: center;
    }
    &--icon {
        font-size: 30px;
        position: absolute;
        top: 38%;
        left: 4%;
        color: black;
    }
}

.main {
    position: relative;
}

.img {
    margin-top: 20px;
    width: 100%;
    height: 25%;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    background-color: #f6f6f6;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 0%;
    border-radius: 80px 80px 0 0;
    display: flex;
    &--header {
        font-size: 50px;
        &__title {
            margin: 80px;
            font-family: 'Shrikhand', sans-serif;
        }
        &__icon {
            position: absolute;
            top: 30%;
            left: 90%;
            display: flex;
            &:hover &--hover {
                opacity: 1;
            }
            &--hover {
                transform: translateX(-100%);
                background: #9356DC;
                background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
        }
    }

    &--plats {
        margin: 77px 0 0 71px;
        &__line {
            background-color: $color-third;
            height: 7px;
            width: 170px;
        }
    }
    .container {
        &--entrée {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
        &__btn {
            cursor: pointer;
            background-color: #ffffff;
            color: none; 
            border-radius: 15px;
            border: none;
            width: 600px;
            height: 100px;
            box-shadow: 0 0 15px #c1c1c1;
        }
        &__txt{
            text-align: start;
            font-size: 25px;
            margin: 0 0 0 5px;
            &__prix {
                text-align: end;
                padding: 0 5px 0 0;
                font-size: 20px;
            }
        }
      }
    }
}