@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@200;300;400;500&display=swap");
@-webkit-keyframes card-apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes card-apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7f7f7;
  color: black;
}

.header {
  width: 100%;
  height: 60px;
  margin: 0;
  margin-top: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header--title {
  font-family: 'Shrikhand', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--icon {
  font-size: 30px;
  position: absolute;
  top: 25%;
  left: 4%;
  color: black;
}

.mainPicture {
  width: 100%;
  height: 1030px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 992px) {
  .mainPicture {
    height: 300px;
  }
}

.restaurant {
  padding-left: 5%;
  width: 100%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.restaurant__name {
  margin: 30px 0 20px 50px;
  font-size: 1.7em;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  width: 100%;
}

@media all and (max-width: 992px) {
  .restaurant__name {
    margin: 30px 0 20px 0;
  }
}

.restaurant__favorite {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 3%;
  left: 90%;
  font-size: 1.7em;
}

@media all and (max-width: 992px) {
  .restaurant__favorite {
    top: 3%;
    left: 85%;
  }
}

.restaurant__favorite--hover {
  -webkit-transform: translateX(-99%);
          transform: translateX(-99%);
  background: #9356DC;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.restaurant__favorite:hover .restaurant__favorite--hover, .restaurant__favorite:focus .restaurant__favorite--hover {
  opacity: 1;
}

@media all and (min-width: 992px) {
  .restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.meal-step {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meal-step__title {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  padding-bottom: 8px;
  margin: 20px 0 20px 0;
}

.meal-step__title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  border-bottom: 3px solid #99E2D0;
}

.menu {
  -webkit-box-shadow: 0 0 20px #c1c1c1;
          box-shadow: 0 0 20px #c1c1c1;
  width: 97%;
  height: 68px;
  margin-bottom: 17px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  padding-left: 3%;
  opacity: 0;
  -webkit-animation: card-apparition 1s ease-in-out both;
          animation: card-apparition 1s ease-in-out both;
  border: none;
}

.menu--1 {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}

.menu--2 {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.menu--3 {
  -webkit-animation-delay: 0.225s;
          animation-delay: 0.225s;
}

.menu--4 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu--5 {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}

.menu--6 {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.menu--7 {
  -webkit-animation-delay: 0.525s;
          animation-delay: 0.525s;
}

.menu--8 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu--9 {
  -webkit-animation-delay: 0.675s;
          animation-delay: 0.675s;
}

.menu--10 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.menu__title {
  margin: 15px 0 5px 0;
  letter-spacing: 0.2px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.menu__text {
  text-align: start;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
  padding-bottom: 5px;
  width: 87%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.menu__price {
  font-weight: bold;
  display: block;
  position: relative;
  font-size: 0.9em;
  height: 100%;
  right: 0;
  text-align: end;
  padding-top: 41px;
  padding-right: 20px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu__checked {
  background-color: #99E2D0;
  height: 100%;
  width: 60px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.menu__checked i {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu:hover .menu__title, .menu:active .menu__title {
  width: 80%;
}

.menu:hover .menu__text, .menu:active .menu__text {
  width: 65%;
}

.menu:hover .menu__price, .menu:active .menu__price {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.menu:hover .menu__checked, .menu:active .menu__checked {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu:hover .menu__checked i, .menu:active .menu__checked i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button {
  background: linear-gradient(172deg, #FF79DA 0%, #9356DC 100%);
  width: 220px;
  height: 50px;
  border-radius: 45px;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 7px rgba(71, 31, 19, 0.58);
          box-shadow: 0px 0px 7px rgba(71, 31, 19, 0.58);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.button__text {
  color: white;
  font-size: 1em;
}

.button-container {
  margin-top: 30px;
  padding-right: 7%;
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: #353535;
  height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  padding-left: 6%;
  font-size: 1em;
}

.footer--txt {
  color: white;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  font-weight: 300;
}

.footer--title {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.footer--link__txt {
  color: white;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.footer--link__icon {
  color: white;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  font-size: 0.75em;
  width: 15px;
}
/*# sourceMappingURL=styles.css.map */